<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <div class="bothall">
        <li class="fork"><a href="{{site.baseurl}}/">home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/compsci">compsci</a></li>
        <li class="fork"><a href="{{site.baseurl}}/blogs">blogs</a></li>
        <li class="title"><a href="{{site.baseurl}}/help">HELP</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">see on github!</a></li>
        </div>
      </ul>
    </nav>
  </div><!-- end header -->
</header>

<style>
  .bothall{
    font-size: 40px;
    color:aquamarine;
  }
</style>